/* *{
    margin: 0;
    padding: 0;
} */
.first{
    background-color: aquamarine;
    color: white;
    height: 112px;
}
body{
    
}
.container{
    height: 1344px;
    width: 344px;
    border:2px solid red;
background-image: url(pika.jpeg);
    background-repeat: no-repeat;
    /* background-size: 63px 45px; */
    /* background-position: top center; */
    background-attachment: fixed;
}